@model IEnumerable<MainCategory>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">PEM Main Categories</h2>
        </div>
        @*<div class="col-6 text-right">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Create new Kategory</a>
        </div>*@
    </div>
</div>

<div class="row">
    @if (Model.Count() > 0)
    {
        @foreach (var kat in Model)
        {
            <div class="col-lg-6 col-xl-6 col-md-6 pb-4 mx-auto">
                <div class="card " style="border:2px solid #43ac6a;border-radius:5px; background:url('/images/medical_pattern.png')">
                    <div class="pl-3 pt-1 text-center">
                        <h3 class="card-title text-primary"><b>@kat.Title @*ID: @kat.Key*@</b></h3>
                    </div>
                    <div class="d-flex justify-content-between ">
                        @*<div class="pl-2"><a asp-controller="Categories" asp-action="Update" asp-route-id="@kat.Key" class="btn btn-primary">Update</a></div>*@
                       
                        @{
                            var list = @ViewBag.subCatList;

                            int numberOfSubCategories = 0;
                            foreach (var obj in list)
                            {
                                if (obj.Object.SubId.Equals(@kat.Key))
                                {
                                    numberOfSubCategories++;
                                }
                            }
                        }

                        <div class="pr-2 h5">
                        </div>
                        <div id="numSubCat" class="pr-2 text-danger h5">Number of Subcategories: <b>@numberOfSubCategories</b></div>
                        <div class="pr-2 h5">
                            @*<a id="delMainCategory" data-bs-toggle="modal"
                               data-bs-target="#exampleModal"
                               data-id="@kat.Key" data-num="0" data-title="@kat.Title"
                               class="btn btn-danger">
                                Delete
                            </a>*@
                        </div>
                    </div>
                    <img src="@kat.ImageUrl" class="card-img-top p-2 rounded" width="500" height="300" sstyle="opacity: 1.0" />

                    <a class="btn btn-outline-dark text-muted text-center pb-2" data-toggle="collapse" href="#collapseDescription_@kat.Key" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Description >
                    </a>
                    <!--Evaluation secion here -->
                    <div class="text-muted text-left pb-3">
                        <div class="collapse" id="collapseDescription_@kat.Key">
                            <div class="card card-body">
                                <p>@kat.CategoryDescription</p>
                            </div>
                        </div>
                    </div>

                    <a id="del" asp-controller="Subcategories" asp-action="Index" asp-route-id="@kat.Key" class="btn btn-success" style="border-radius:2px;">
                        Subcategories
                    </a>
                </div>
            </div>
        }

    }
    else
    {
        <p>No items created yet</p>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="delP"></p>
            </div>
            <div class="modal-footer">
                <form id="deleteFormClient" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
